* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
}

body {
    background-image: url('https://e0.pxfuel.com/wallpapers/530/327/desktop-wallpaper-portfolio-background.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: rgb(2, 75, 32); 
}

.container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

h2 {
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: transparent; 
}

.menu-left {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(2, 75, 32); 
}

.menu-right {
    list-style: none; 
    display: flex;
}

.menu-right li {
    margin-right: 20px;
}

.menu-right li a {
    color: rgb(2, 75, 32); 
    text-decoration: none;
    font-size: 1.3rem; 
}

.menu-right li a:hover {
    text-decoration: underline;
}

.section {
    margin: 1rem auto;  
    padding: 2rem;     
    border: 4px solid rgb(2, 75, 32);  
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0); 
}

.section h2 {
    font-size: 2.5rem; 
    margin-bottom: 1rem;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.about-content img {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.about-content p {
    max-width: 600px;
    font-size: 1.3rem; 
}

.divider {
    width: 50%;
    height: 2px;
    background-color: rgb(2, 75, 32); 
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: auto;
}

input, textarea {
    padding: 0.75rem;
    border: 1px solid #444;
    background: #222;
    color: #fff;
    font-size: 1.2rem; 
}

input[type="submit"] {
    background-color: #444; 
    color: #000; 
}

a:link {
    color: rgb(2, 75, 32);
}

a:visited {
    color: rgb(2, 75, 32);
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

div{
    margin: 2rem 0;
}