/* General App Styling */
.App {
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #333333;
    width: 100%;
    justify-content: center;
}

.navbar {
    height: 80px;
    width: 100%;
    margin: auto;
    background-color: #191919;
    color: #fff;
    padding-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 32px;
}

.fa-headphones-simple {
    margin: 15px;
    margin-right: 10px;
    font-size: 60px;
}

.title {
    margin-top: 10px;
}

/* Main Section */
.main-section {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.greeting {
    align-self: center;
    color: #fff;
    font-size: 48px;
    margin-top: 20px;
}

.button-panel {
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
}

/* Buttons */
.btn {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #191919;
    border: none;
    font-size: 24px;
    margin: 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #191919;
    background-color: #fff;
    border: 1px solid #191919;
    cursor: pointer;
}

/* Song Cards */

.song-list {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 20px 0;
padding: 0 20px;  /* Add padding to give some space from the border of the screen */
}

.song-card {
width: 18%;  /* Adjust width to ensure 5 cards fit on one row */
margin: 10px;
text-align: center;
background-color: #191919;  /* Black background for the cards */
border-radius: 10px;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
color: white; /* Text color for contrast against the black background */
}

.song-image {
width: 100%;
height: auto;
border-radius: 8px;
}

.song-name, .song-artist {
margin-top: 10px;
font-size: 14px;
color: white;  /* Ensure text is visible on black background */
}
  
  

.song-card:hover {
    transform: scale(1.05);
    border-color: #fff;
}

.song-card p {
    margin: 10px 0;
    font-size: 18px;
}

/* Reshuffle Button */
.reshuffle-button {
    background-color: #191919; 
    color: #fff;
    border: none;           
    border-radius: 8px;    
    padding: 10px 20px;     
    font-size: 16px;        
    cursor: pointer;     
    margin-top: 20px;       
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 
  }
  
  .reshuffle-button:hover {
    background-color: #fff; /* Darker gray on hover */
    color: #191919;         /* Yellow text color on hover */
  }
  
  .reshuffle-button:disabled {
    background-color: #444; /* Dark gray when disabled */
    color: #888;            /* Lighter text when disabled */
    cursor: not-allowed;    /* Not allowed cursor when disabled */
  }
  
